ACTIVE="Active"
ADDRESS="Address"
ADD_DATE="Add date"
ADDRESS_GOOGLE="Address for Google Maps"
AVERAGE SCORE:="Average score:"
AWARDS="Awards"
CHANGES_SAVED="Changes saved"
CHECK="Check"
CITY="City"
CLOSE="Close"
COMMENTS="Comments"
COUNTRY="Country"
DATE="Date"
DETAILS="Details"
E-MAIL="E-mail"
E-MAIL_1="E-mail 1"
E-MAIL_2="E-mail 2"
EACH_TROPHY_NEW_LINE="Each trophy should start with a new line"
EDIT="Edit"
EMAIL="Email"
ERROR_SAVING="Error Saving"
ERROR_SAVE_EVENT="Error: Can't save event"
ERROR_SAVE_PLAYER="Error: Can't save player"
ERROR_SAVE_VENUE="Error: Can't save venue"
ERROR_UPLOAD_FILE="Error: Can't upload file"
ERROR_DELETE_RECORDS="Error: One or More Record Could not be Deleted"
ERROR_MANAGE_SEASONS="Error: Only administrator can manage seasons"
ERROR_VIEW_PLAYERS="Error: Only administrator can manage seasons"
ERROR_MERGE="Error: Players cannot be merge"
ERROR_EVENT_ID_NULL="Error: Event id can\'t be null"
ERROR_GD_LIBRARY="Error: Please make sure you have GD library ver 2+"
EVENT="Event"
EVENT_ADD_MORE_24_HOURS="You have add this event more then 24 hours. You can\'t delete it!"
EVENT_DETAILS="Event Details"
EVENT_NAME="Event name"
EVENT_PHOTO="Event photo"
EVENT_SAVED="Event was saved"
EVENT_SUCCESSFULLY_ADDED="Your event was successfully added. Please review and delete it if needed within 24 hours."
EVENTS="Events"
EVENTS_LIST="Events list"
EXAMPLE_ADDRESS="Example: 27 Central Rd, Unanderra, NSW 2526, Australia"
EXPORT_PLAYERS="Export players"
FILTER="Filter"
FILTER_RESET="Filter Reset"
GO="Go"
ID="ID"
INFORMATION="Information"
MAIL_NEW_XML_SUBJECT="New event was added"
MANAGER="Manager"
MERGE="Merge"
MERGE_PLAYERS="Merge players"
NAME="Name"
NEW="New"
NICKNAME="Nickname"
NO="No"
NO_FILE_SELECTED="No file selected"
NOT_IMAGE_FILE="Not Image file"
NOT_XML_FILE="Not XML file"
NOTES="Notes"
OPERATION_CANCELLED="Operation Cancelled"
PASSWORD="Password"
PHONE="Phone"
PHONE 1="Phone 1"
PHONE 2="Phone 2"
PHOTO_DESCRIPTION="Photo description"
PLAYER="Player"

PLAYER_FIRST_NAME="Player first name"

PLAYER_LAST_NAME="Player last name"
PLAYER_NAME="Player Name"
PLAYER_NICKNAME="Player Nickname"


PLAYER_SAVED="Player was saved"
PLAYERS="Players"
PLAYERS_DETAILS="Players Details"
PLAYERS_LIST="Players list"
PLAYERS_MERGE="Players merge"
PLAYERS_WAS_MERGED="Players was merged"
POINTS="Points"
PRIZE_DETAILS="Prize details"
RANK="Rank"
RECORD_DELETED="Record(s) Deleted"
REGISTER="Register"
REGISTRATION="Registration"
SEASON="Season"
SEASONS="Seasons"
SEASONS_LIST="Seasons list"

SELECT_VENUE="Select Venue"
STATE="State"
OPERATION_MOVE_ALL_RECORDS="This operation will move all records about points and ranks from left player to right player and delete left player."
TOURNAMENT="Tournament"
TROPHIES="Trophies"

UPLOAD_XML="Upload Event XML file"
UPLOAD_LOGO="Upload logo"
UPLOAD_PHOTO="Upload photo"
USERNAME="Username"
VENUE="Venue"
VENUE_WAS_SAVED="Venue was saved"
VENUES_LIST="Venues list"
VERIFY PASSWORD="Verify Password"
WARNING_UNDONE="WARNING!!! THIS CANNOT BE UNDONE"
WARNINSTALLFILE="WARNINSTALLFILE"
WARNINSTALLUPLOADERROR="WARNINSTALLUPLOADERROR"
WEBSITE="Website"
WINNINGS="Winnings"
WINS="Wins"
YES="Yes"
YOU_CAN_NOT_DELETE_SEASON="You can't delete season %s, until there are some events added for this season. Please delete all associated events first"
YOU_CAN_NOT_DELETE_VENUE="You can't delete venue %s, until there are some events added for this venue. Please delete all associated events first"
YOU HAVE ADD THIS EVENT MORE THEN 24 OURS. YOU CAN\'T DELETE IT!="You have add this event more then 24 ours. You can\'t delete it!"
ZIP="Zip"
ZIPCODE="Zipcode"

#Preferences
CAN_MANAGERS_EXPORT_PLAYERS="Can managers export players"
CAN_MANAGERS_EXPORT_PLAYERS_DESC="Can managers export players list to the CSV"
CAN_MANAGERS_VIEW_PLAYERS="Can managers view players"
CAN_MANAGERS_VIEW_PLAYERS_DESC="Can managers view the players list"
COMPONENT_REGISTATION="Component registation"
COMPONENT_REGISTATION_DESC="Only players can registering at this site"
DNP_DESC="At what position it starts the DNP. If DNP set to starts at 10 then 10, 11, 12 ... places will be replaced with DNP in a tables on a front end."
FINAL_TABLE="Final table"
FINAL_TABLE_DESC="At what position it ends the Final Tables (FT)"
FIRST_NICK_LAST="First Name "Nick Name" Last Name"
FIRST_LAST="First Name Last Name"
FROM_EMAIL_ADDRESS="From Email Address"
FROM_EMAIL_NAME="From Email Name"
GOOGLE_API_KEY="Google API Key"
GOOGLE_API_KEY_DESC="Insert Google API Key for your site"
HIDE="Hide"
NAME_TO_SHOW="Name to show"
NAME_TO_SHOW_DESC="What name to display in front end"
NICK="Nick Name"
PLAYERS_PRINT="Default number of players for print version"
PLAYERS_PRINT_DESC="Default number of players for print version"
SHOW="Show"
SHOW_POINTS_FIELD="Show Points Field"
SHOW_POINTS_FIELD_DESC="Show/Hide the Points field in  leaderboard tables"
SHOW_HITS_FIELD="Show Hits Field"
SHOW_HITS_FIELD_DESC="Show/Hide the Hits (Knockouts) field in  leaderboard tables"
SHOW_WINNINGS_FIELD="Show Winnings Field"
SHOW_WINNINGS_FIELD_DESC="Show/Hide the Winnings (Payouts) field in  leaderboard tables"
SHOW_REBUYS_FIELD="Show Rebuys Field"
SHOW_REBUYS_FIELD_DESC="Show/Hide the Rebuys field in  leaderboard tables"
SHOW_ADDONS_FIELD="Show Addons Field"
SHOW_ADDONS_FIELD_DESC="Show/Hide the Addons field in  leaderboard tables"